<!DOCTYPE html>
<html>
<head>
	<title><%=user.username %></title>
</head>
<body>
	<header>
		<h1><%=user.username %>'s Profile</h1>
		<nav>
			<ul>
				<li>
					<a href="/users">All Users</a>
				</li>
				<li>
					<a href="">All Photos</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		Name: <%=user.name %>
		<br>
		Location: <%=user.location %>
		<br>
		<a href="/users/<%=user.id%>/edit""><button>Edit User</button></a>
		<br>
		<form action="/users/<%=user.id %>/?_method=DELETE" method="POST">
			<button>Delete User</button>
		</form>

		<!-- photo information will go in here as well -->
		
	</main>

</body>
</html>